:root  > * {
  --md-primary-fg-color:        #026e06;
  --md-primary-fg-color--light: #06950a;
  --md-primary-fg-color--dark:  #06950a;
}

.mermaid svg {
  max-width: 100% !important;
  width: 1200px;
  height: auto;
}
